/* @import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

*{
  /* font-family: 'Single Day', cursive; */
  font-family: 'Cabin Sketch', cursive;
}

.title{
  justify-content: center;
}

.Logo{
  width: 200px;
  height: 200px;
}

.card-title{
  text-align: center;
}

.card-content{
  text-align: center;
}

/* .page-footer{
  display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
} */
