/* @import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/* font-family: 'IM Fell English SC', serif; */

*{
  /* font-family: 'Single Day', cursive; */
  /* font-family: 'Cabin Sketch', cursive; */
  font-family: 'IM Fell English SC', serif;
  
}

.title{
  justify-content: center;
}

.Logo{
  width: 200px;
  height: 200px;
}

.card-title{
  text-align: center;
}

.card-content{
  text-align: center;
}

.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;  
  /* text-align: center; */
  padding: 5px;
  justify-content: space-between;
}

.f-logo{
  width: 25px;
  height: 25px;
}

.right{
  padding: 5px;
}
